* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(22, 22, 22) !important;
}

.App {
  color: white;
}

/* button {
    width: 5%;
    height: 100px;
    background-color: rgb(255, 255, 255);
  } */
  
  .container {
      width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
  }
  
  .images {
    width: 800px;
    height: 700px;
  }
  
  .checklist {
    margin-top: 3%;
    display: flex;
    justify-content: center;
  }
  
  .activeimage {
    font-weight: bold;
      border-bottom: 1px solid #eee;
  }
  
  .value {
    width: 7%;
  }


  .App > h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: .5%;
    font-size: 40px;
  }

  .test {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(78, 78, 78);
    margin-top: 10%;
    width: 40%;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 7px 7px 4px black;
    border-radius: 2%;
  }

  .textbox {
    margin-top: 20%;
    height: 50px;
    width: 500px;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .todoform {
    display: flex;
    align-items: flex-end;
  }

  .addbutton {
    height: 50px;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  /* .addtodo {
    display: flex;
    justify-content: center;
  } */
